@using Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Arba", "Welcome", "Auth", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["User"] != null)
                    {
                        <li>
                            <a>@Session["User"]</a>
                        </li>
                        <li>
                            @Html.ActionLink(@Global.Products, "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("XML", "XML", "XMLService")
                        </li>
                        <li>
                            @Html.ActionLink("Import", "ImportProduct", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Logs", "Logs", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Populate", "Populate", "Home")
                        </li>

                        <li>
                            @Html.ActionLink(Global.Logout, "Logout", "Auth")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(@Global.Register, "Register", "Auth")
                        </li>
                        <li>
                            @Html.ActionLink(@Global.Login, "Login", "Auth")
                        </li>
                    }

                    <li>
                        @Html.ActionLink("English", ViewContext.RouteData.Values["action"].ToString(), new { culture = "en" })
                    </li>
                    <li>
                        @Html.ActionLink("Russian", ViewContext.RouteData.Values["action"].ToString(), new { culture = "ru" })
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>