@model PagedList.IPagedList<ProductsViewModel>
@using Resources
@using PagedList.Mvc;
@using wad_arba_00003741_ii.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("name", "") <br />
        @Html.DropDownList("category", new SelectList(ViewBag.Categories, "Value", "Text"))
        @Html.DropDownList("criteria", EnumHelper.GetSelectList(typeof(SortCriteria)))
        @Html.DropDownList("order", EnumHelper.GetSelectList(typeof(SortOrder)))

        <input type="submit" value="filter" />
    }
</div>

@*<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBoxFor(model => model.Name)
        @Html.DropDownListFor(model => model.Category, Model.Categories)
        @Html.EnumDropDownListFor(model => model.Criteria)
        @Html.EnumDropDownListFor(model => model.Order)

        <input type="submit" value="filter"/>
    }
</div>*@

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Category
        </th>
        <th>
            Available
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new { page, order = ViewBag.Order, name = ViewBag.Name, criteria = ViewBag.Criteria, category = ViewBag.Category }))
Showing @Model.FirstItemOnPage - @Model.LastItemOnPage from @Model.TotalItemCount Books
